[Unit]
Description=Home Backup Service
Requires=mount-backup@rsync.service icon-backup@rsync.service
After=mount-backup@rsync.service icon-backup@rsync.service

[Service]
User=chfin
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/home/chfin/.backup/rsync_home.sh

#[Install]
#WantedBy=timer-daily.target
